QDialog#LoginWindowClass
{
	background-image: url(:/images/login.jpg);
 	background-repeat: no-repeat;
	background-position: center;

}

#label
{
	color: white;
	font-weight: bold;
}

#label_account
{
	color: white;
}

#label_passwd
{
	color: white;
}

#label_checkcode
{
	color: white;
}

#checkBox_remember
{
	color: white;
}

#pushButton_register { color: white; background: transparent; border: none; text-decoration: underline; } #pushButton_register:hover { color: #bde8ff; }

#pushButton_settings { color: white; } #pushButton_settings:hover { background-color: #4098c5; }

#pushButton_close
{
	color: white;
}
#pushButton_close:hover
{
	background-color: #add8e6;

}
